body {
    background-color: black;
    color: #00FF00; /* Matrix green color */
    font-family: 'Courier New', Courier, monospace; /* Console font */
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}
.container {
    text-align: center;
    position: relative;
}
.typewriter {
    white-space: pre; /* Preserve whitespace for newlines */
    overflow: hidden; /* Hide overflow */
    display: inline-block;
    font-family: 'Courier New', Courier, monospace; /* Console font */
}
.title {
    font-size: 24px; /* Smaller size for title */
    font-weight: bold;
    margin-bottom: 40px; /* More space below the title */
    font-family: 'Courier New', Courier, monospace; /* Console font */
}
footer {
    white-space: pre; /* Preserve whitespace for newlines */
    font-family: 'Courier New', Courier, monospace; /* Console font */
}
.resume-title {
    font-size: 24px; /* Same size as title */
    font-weight: bold;
    margin-top: 20px; /* Space above the resume title */
    font-family: 'Courier New', Courier, monospace; /* Console font */
}
.resume {
    font-size: 24px; /* Same size as title */
    font-family: 'Courier New', Courier, monospace; /* Console font */
    margin-top: 20px; /* Space above the resume */
    text-align: left; /* Left align the resume */
}
.bold {
    font-weight: bold;
}
.skills {
    margin-top: 20px; /* Space above skills section */
    font-family: 'Courier New', Courier, monospace; /* Console font */
}
.experience {
    font-family: 'Courier New', Courier, monospace; /* Console font */
    margin-top: 20px; /* Space above experience section */
    text-align: left; /* Left align the experience section */
}
.education {
    font-family: 'Courier New', Courier, monospace; /* Console font */
    margin-top: 20px; /* Space above education section */
    text-align: left; /* Left align the education section */
}
@keyframes blink-caret {
    from { border-color: transparent; }
    to { border-color: #00FF00; }
}
